DATABASE_URL=postgresql+psycopg2://vrp_user:change_me@host.docker.internal:5432/vrp_planner
POSTGRES_DB=vrp_planner
POSTGRES_USER=vrp_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433
MASTER_DATA_API_BASE_URL=http://host.docker.internal:8000
NETWORK_EFFECTIVE_EDGES_PATH=/edges/effective
TRUCK_MASTER_DATA_API_BASE_URL=http://host.docker.internal:8002
USE_MOCK_MASTER_DATA=false
VITE_API_BASE_URL=http://localhost:8080
